{% extends "base.html" %}
{% block content %}


    <form>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">主机信息</h6>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">IP地址</label>
            <div class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" value="{{ host_obj.ip }}">
            </div>
            <label for="staticEmail" class="col-sm-2 col-form-label">状态</label>
            <div class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext" value="{{ host_obj.get_status_display }}">
            </div>
            <label for="staticEmail" class="col-sm-2 col-form-label">探测状态</label>
            <div class="col-sm-2">
                <input type="text" readonly class="form-control-plaintext"
                       value="{{ host_obj.get_scan_status_display }}">
            </div>

        </div>

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">单位信息</h6>
        </div>


        <div class="form-group row">

            <label for="staticEmail" class="col-sm-2 col-form-label">单位名称</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.company.company }}">
            </div>
{##}
{#            <label for="staticEmail" class="col-sm-2 col-form-label">机房全称</label>#}
{#            <div class="col-sm-2">#}
{#                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.idc.idc_name_all }}">#}
{#            </div>#}
            <label for="staticEmail" class="col-sm-2 col-form-label">单位地址</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.company.address }}">
            </div>

        </div>

        <div class="form-group row">

            <label for="staticEmail" class="col-sm-2 col-form-label">联系人</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.idc.phone }}">
            </div>

            <label for="staticEmail" class="col-sm-2 col-form-label">机房联系人姓名</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.idc.name }}">
            </div>
            <label for="staticEmail" class="col-sm-2 col-form-label">邮箱</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.idc.email }}">
            </div>

        </div>

        <div class="form-group row">

            <label for="staticEmail" class="col-sm-2 col-form-label">修改机房</label>

            <div class="col-sm-4">
                <select class="form-control" name="idc">
                    <option value="{{ host_obj.idc.id }}">{{ host_obj.idc.name }}</option>
                    {% for oneidc in idc %}
                        <option value="{{ oneidc.id }}">{{ oneidc.idc_name_all }}机房地址在{{ oneidc.address }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>


        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">用户信息</h6>
        </div>

        <div class="form-group row">

            <label for="staticEmail" class="col-sm-2 col-form-label">账户</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_user }}">
            </div>

            <label for="staticEmail" class="col-sm-2 col-form-label">机房联系人姓名</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.idc.name }}">
            </div>
            <label for="staticEmail" class="col-sm-2 col-form-label">邮箱</label>
            <div class="col-sm-2">
                <input type="text" class="form-control-plaintext" readonly value="{{ host_obj.idc.email }}">
            </div>

        </div>


    </form>



{% endblock %}